/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 * CSS Style pattern: BEM(block, element & modifier
 */

/* Card Adv Default */
.advCard{
    opacity: .8;
    transition: .4s ease-in-out;
}
.advCard:hover{
    opacity: 1;
    transition: .4s ease-in-out;
}

/* Card Modificadores de cores/tipos */
.advCard--bgNone{
    background: none;
}
.advCard--silver{
    background: rgba(0, 0, 0, .1);
}
.advCard--gold{
    background: #FFE4E4;
    border: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.advCard--diamond{
    background: #FFE4E4;
    border: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Card Tags */
.advCard__tag{
    margin: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    color: #fff;
    font-size: .9rem;
    text-transform: capitalize;
    z-index: 999;
}
.advCard__tag--verified{
    background: #00E676;
}

/* Card Images */
.advCard__image{
    height: 245px; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

/* Card textColor's */
.advCard__textColor--default{
    color: #fff;
}
.advCard__textColor--primary{
    color: #F2134F;
}

/* Card text */
.advCard__text{
    opacity: .8;
}

/* Card Btn */
.advCard__btn{
    text-transform: capitalize;
    font-weight: 500;
}
.advCard__btn:hover{
    color: #fff;
}

.advCard__btn--default{
    background: #12243B;
    color: #fff;
}
.advCard__btn--whatsapp{
    background: #25d366;
    color: #fff !important;

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

/* Card icons */
.advCard__icon{
    padding: 3px 6px;
    border-radius: 3px;
}
.advCard__icon--default{
    background: #fff;
    color: #0c1827;
}
.advCard__icon--gold{
    background: #F2134F;
    color: #fff;
    opacity: .8;
}

/* Card Borders */
.advCard__border--default{
    border: 1px solid rgba(0,0,0,0);
    transition: .4s ease-in-out;
}
.advCard__border--default:hover{
    border-color: rgba(0,0,0,.5);
}

/* Carousel styles */
.carousel-advertisement .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 180px;
    padding: 0;
    margin: 0;
}
.carousel-advertisement .owl-nav .owl-prev,
.carousel-advertisement .owl-nav .owl-next{
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, .2) !important;
    box-shadow: none !important;
    position: absolute;
    left: -10px;
}
.carousel-advertisement .owl-nav .owl-next{
    left: auto;
    right: -20px;
}
.carousel-advertisement .owl-dots{
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-advertisement .owl-dots .owl-dot{
    width: 12px;
    height: 12px;
    background: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 100%;
    margin: 0 4px;
    box-shadow: none !important;
}
.carousel-advertisement .owl-dots .active{
    background: rgba(255, 255, 255, .7);
}

/* Hack puxar header pra frente */
.elementor-sticky--active{
    z-index: 99 !important;
}

/* Hack remover background de inputs focados */
.form-control:focus{
    background: none;
    background-image: none !important;
}

/* Adicionando ícones aos menus do painel */
body.woocommerce-account nav.woocommerce-MyAccount-navigation a:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 25px;
    display: inline-block;
}
body.woocommerce-account nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--gallery a:before{
    content: "\f87c";
}
body.woocommerce-account nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--advertisements a:before{
    content: "\f3ff";
}
body.woocommerce-account nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--change-password a:before{
    content: "\f023";
}

/* Hack esconder .product_meta */
div.product .entry-summary div.product_meta{
	display: none !important;
}

/* Hack para alterar a cor de mensagens do woocommerce */
.woocommerce-message{
    background: #e91e63 !important;
    color: #fff !important;
}
.woocommerce-message::before{
    color: #fff !important;
}
.woocommerce-message a{
    color: #fff !important;
}

/* Cadastro */
.register__backgroundImage{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://acompanhantesa2.com/wp-content/uploads/2022/07/pexels-jr-tavares-5526782-scaled.jpg');
}
.register__backgroundImage::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    background: rgba(0,0,0,.5);
}

.register__btn{
    width: 100%;
    height: 90px;
    text-transform: uppercase;
    font-weight: bold;
}


/* .advCardInfo */
.advCardInfo__container{
    padding: 20px 10px;
    text-align: center;
}
.advCardInfo__top{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #ededed;
}
.advCardInfo__text{
    font-size: 16px;
}

/* .cardDashboard */
.cardDashboard{
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #5C646E !important;
}
.cardDashboard:hover{
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.cardDashboard__roundBtn{
    width: 32px; 
    height: 32px; 
    background: #F0F0F0; 
    border-radius: 100%; 
    font-size: 20px;
}
.cardDashboard__icon{
    font-size: 2em;
    color: #5C646E;
    margin: auto;
}


/* .cardProduct */
.cardProduct{
    padding: 20px 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    overflow: hidden;
}
.cardProduct__label{
    height: 30px;
    width: 140px;
    transform: rotate(-45deg);    
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    left: -40px;
    top: 15px;
    position: absolute;
}
.cardProduct__header{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #ededed;
}
.cardProduct__thumb{
    width: 64px !important;
    height: 64px !important;
    margin: 0 auto;
}
.cardProduct__body{
    margin-bottom: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #ededed;
}
.cardProduct__footer label{
    font-size: 12px;
    opacity: .8;
}
.cardProduct__footer select{
    width: 100%;
    height: 30px;
    font-size: 14px;
}
.cardProduct__buyButton{
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    border-radius: 0 !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardProduct__buyButton:hover{
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}


/* Estilização #asideWrapper .plan-carousel-dots */
#plan-carousel-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#plan-carousel-dots button.owl-dot{
    background: none;
    border: 1px solid #cdcdcd;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 0 4px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#plan-carousel-dots button.active{
    background: #6c757d !important;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* CSS RULES FOR DESKTOP */
@media only screen and (min-width: 601px) {
    /* Search Component */
    .searchInput{
        width: 680px;
    }

    /* Cadastro */
    .register__bgContainer{
        position: relative;
    }
    
    /* wrapper class */
    .wrapper__errors{
        z-index: 999;
        left: calc((100% / 2) - 45%);
    }
}

/* CSS RULES FOR MOBILE */
@media only screen and (max-width: 600px) {
    /* Search Component */
    .searchComponent__container{
        padding: 24px 8px;
    }
    .searchInput{
        width: auto;
    }

    /* Cadastro */
    .register__formContainer{
        background: #fff;
        margin: auto;
        margin-top: 250px;
        border-radius: 6px;;
    }

    .register__bgContainer{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -999;
        width: 100%;
        height: 60%;;
    }

    .register__header{
        position: relative;
        top: -120px;
        color: #fff;
        opacity: .9;
    }
    .register__form{
        position: relative;
        top: -30px;
        margin: 0 !important;
    }

    .register__completed{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* wrapper class */
    .wrapper__errors{
        z-index: 999;
        background: rgba(255, 255, 255, .8);
        padding: 16px;
    }
}
